.formio-form {
  > div {
    > nav {
      display: none;
    }
    > ul {
      display: none;
    }
  }
}

.kyfb {
  p button {
    margin-right: 5px;
  }

  .heading-primary {
    font-size: 1.5625rem;
  }
}
