@import './formio/radio.scss';

.formio-form {
  > div {
    > nav {
      display: none;
    }
    > ul {
      display: none;
    }
  }
}

.kyfb {
  p button {
    margin-right: 5px;
  }

  .special {
    color: #f85c50;
  }
}
