@import './formio/radio.scss';

.formio-form {
  > div {
    > nav {
      display: none;
    }
    > ul {
      display: none;
    }
  }
}

.kyfb {
  p button {
    margin-right: 5px;
  }

  .special {
    color: #f85c50;
  }
  
  .heading-primary {
    font-size: 1.5625rem;
  }

  .alert.alert-danger {
    display: none;
  }
}
