.kyfb {
  
  .preference {
    margin-top: 24px;
    margin-bottom:16px;
    letter-spacing: -0.53px;
    color: #202529;
  }

  #email-summary {
    font-size: 16px;
    color: #202529;
    letter-spacing: -0.53px;
  }

}
